@model DemoMVC112.Models.Student

<h2>Nhập thông tin sinh viên</h2>

<form asp-action="CreateStudent" method="post">
    <label>Mã sinh viên:</label>
    <input asp-for="Id" /><br>

    <label>Họ tên:</label>
    <input asp-for="Name" /><br>

    <label>Tuổi:</label>
    <input asp-for="Age" /><br>

    <label>Chuyên ngành:</label>
    <input asp-for="Major" /><br>

    <button type="submit">Gửi</button>
</form>
